html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

img {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.fullheight {
	height: 100%;
}

.fullwidth {
	width: 100%;
}

.gallery-item {
	margin-bottom: 25px;
}

.gallery-item:hover {
	filter: brightness(120%);
}

/* Header Styles */

.navbar-default {
	background-color: #D50000;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}

.navbar-default > .container {
	display: flex;
	justify-content: center;
}

.modal-dialog {
    min-width: 70%;
}

/* Footer Styles */

.footer-in {
	margin: 15px 0;
	color: #ffffff;
}

.footer-in a {
	color: #ffffff;
	text-decoration: none;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: #D50000;
	height: 60px;
	width: 100%;
	text-align: center;
}

/* Promo Banners */

.promo {
	padding: 32px 0;
	background-position: center;
	background-size: cover;
	color: white;
	background-color: black;
}

.hf-icon {
	width:24px;
	height:24px;
	display:inline-block !important;
	margin-top:-4px;
}
